.container {
    height: 100%;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 16%;
}

.content {
    display: flex;
    flex-flow: column;
}

.main-content-router {
    width: 100%;
    position: absolute;
    top: 65px;
    display: flex;
    justify-content: center;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .sidenav {
        width: 30%;
    }
}