<article *ngIf="!loading && products.length >= 1" class="catalogo">
    <header>
        <app-buscador (buscar)="buscar($event)" ></app-buscador>
    </header>
    <body>
      <div class="contenido">
        <div class="list" *ngFor="let product of products">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{product.data.nombre}}</mat-card-title>
                <mat-card-subtitle>Precio: ${{product.data.costo}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image [src]="photoURL(product.data.imagen)" alt="foto de un producto">
              <mat-card-content>
                <p style="text-align: center;">
                  Obtenlo ya!
                </p>
              </mat-card-content>
              <mat-card-actions class="actions">
                <button mat-flat-button color="primary" (click)="openContactInfo(product)">Contacto</button>
                <button mat-flat-button color="accent">Favorito</button>
              </mat-card-actions>
            </mat-card>
      </div>
      </div>
      <mat-paginator class="paginator" [length]="allProducts.length"
              [pageSize]="4"
              [pageSizeOptions]="[4]"
              (page)="changePage($event)"        
      >
      </mat-paginator>
    </body>
</article>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="products.length <= 0 && !loading">
  <h1>No hay productos en el catálogo... Vuelva pronto</h1>
</div>