
.catalogo {
    width: 100vw;
}

.contenido {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.list {
    margin: 20px;
    height: 465px;
    display: flex;
    justify-content: center;
}

.list mat-card {
  height: 100%;
}

.list img {
  height: 200px;
  width: 223.35px;
}

.example-card {
    text-align: center;
    max-height: 425px;
    width: 250px;
    background: #3b5284;
    color:white;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.paginator {
  position: absolute;
  top: 87vh;
  width: 100%;
}
.actions {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.actions button {
  margin: 3px;

}

.acciones button {
  margin: 5px;
}

.categorias  {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 ;
}

.imagen {
  margin-top: 30px;
}


@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .contenido {
      flex-direction: column;
  }

  .list {
    height: 460px;
  }

  .paginator {
    position: unset;
    
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
 .paginator {
   top : 84vh;
 }
  
}