.catalogo {
    width: 100vw;
}

.contenido {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.list {
    margin: 20px;
    height: 465px;
}

.list mat-card {
  height: 100%;
}

.list img {
  height: 305px;
  width: 323.35px;
}

.example-card {
    max-width: 350px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.paginator {
  position: absolute;
  top: 87vh;
  width: 100%;
}
.actions {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.actions button {
  margin: 3px;

}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .contenido {
      flex-direction: column;
  }

  .list {
    height: 460px;
  }

  .paginator {
    position: unset;
    
  }
}