
<div class="layout">
    <div class="about" wmAnimate="fadeIn" speed="fast" aos>
        <h1>¿Quieres formar parte de esta iniciativa?</h1>     
        <p>
            Para lograr que tus productos se anuncien en este espacio
            requerimos de cierta información básica para comprobar
            que sus productos siguen la filosofía de este sitio.
        </p>
    </div>
    
    <div class="planes">
        <div class="about">
            <div class="title">
                <h1>Tarifa de planes</h1>
            </div>
        </div>
        
        <div class="about" wmAnimate="heartBeat" speed="lower" aos>
            <h2>Plan básico</h2>
            <p>El plan básico incluye la posibilidad de 
                promocionar hasta 5 de sus productos,
                su precio es de <strong>$35</strong> pesos
                mexicanos al mes.
            </p>
        </div>
        
        <div class="about" wmAnimate="heartBeat" speed="lower" aos>
            <h2>Plan premium</h2>
            <p>El plan premium incluye la posibilidad de 
                promocionar iliminato número de productos,
                su precio es de <strong>$70</strong> pesos
                mexicanos al mes.
            </p>
        </div>
    </div>
    
    <div class="about"  wmAnimate="fadeIn" speed="lower" aos>
        <h5>Para más información favor de mandar un email a</h5>
        <h1>thegreenbook2@hotmail.com</h1>
        <p>Dónde un integrante de nuestro equipo le pedirá la información necesaria para empezar su tramite de registro</p>
        <h1>GreenBook compra verde!</h1>
        <img src="assets/img/logo.png" alt="think green">
    </div>
    
    
</div>