<div class="about" wmAnimate="fadeIn" speed="fast" aos>
    <h1>¿Quieres formar parte de esta iniciativa?</h1>     
    <p>
        Para lograr que tus productos se anuncien en este espacio
        requerimos de cierta información básica para comprobar
        que sus productos siguen la filosofía de este sitio.
    </p>
    <h2>Favor de mandar un email a</h2>
    <h1>thegreenbook2@hotmail.com</h1>
    <p>Dónde un integrante de nuestro equipo le pedirá la información necesaria</p>
    <h1>Piensa verde!</h1>
    <img wmAnimate="fadeOut" speed="lower" aos src="assets/img/green.svg" alt="think green">
</div>

