<div class="main">
    <header>
        <h1 class="center">The GreenBook Project</h1>
    </header>
            <article class="content">
                <aside class="left" [@leftRight]="bookAnimation">
                    <img class="book-woman" alt="book-woman" src="assets/img/book-woman.svg" />
                </aside>
                <aside class="right" [@RightLeft]="contentAnimation">
                    <div class="text">
                        <h2>El proyecto GreenBook está orientado a que los compradores volteen a ver alternativas ecológicas de sus productos favoritos</h2>
                    </div>
                    <div class="options">
                        <button (click)="irCatalogo()" mat-raised-button color="accent">Catálogo de productos</button>
                    </div>
                </aside>
            
            </article>
    <article>
        <app-contacto></app-contacto>
    </article>
    <article>
        <app-acerca></app-acerca>
    </article>
</div>