table {
    width: 800px;
    text-align: center;
}

.table {
    margin: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.table th {
    text-align: center !important;
}

.pages {
    margin-top: 20px;
}