

.slide {
    display: flex;
    position: absolute;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.more-info {
    position: absolute;
    top: 600px;
    left: 30%;
    text-align: center;
}

.jared {
    position: absolute;
    top: 800px;
}

.jared img {
    width: 300px;
}


.slide img {
    width: 300px;
    margin: 10px;
}

