.content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.layout {
    width: 90vw;
    padding: 20px;
}

.flecha {
    text-align: center;
}

.student {
    display: flex;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.info {
    margin: 25px;
}

 img {
    width: 300px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .student {
        flex-flow: column;
        margin-top: 10px;
    }

}