 <div class="layout">
            <div class="content" wmAnimate="fadeIn" speed="lower" aos>
                        <h1>El proyecto GreenBook está pensando para que los consumidores volteen a ver alternativas ecológicas</h1>
                        <p>Hoy más que nunca debemos de hacer un cambio critico en nuestra forma de vida, el consumismo no ecológico 
                              está dañando nuestro mundo y solo comprando de manera inteligente podrémos reducir el desperdicio que le estamos
                        dejando al planeta, debemos de actuar ya, por esta preocupación nació GreenBook, al hacer un catálogo de productos
                  amigables con el medio ambiente ya sea reciclados o biodegradables podrémos evitar el fenómeno del desperdicio</p>
                  <div wmAnimate="heartBeat" speed="lower" aos>
                        <img alt="zero waste logo" src="assets/img/zero.png"/>
                  </div>
                  <h1>Si deseas que tus productos aparezcan en está página por favor ve a la ventana de contactos y te atendéremos lo antes posible</h1>
                  <p>Creemos en el producto local, por lo que si eres un vendedor artesanal tendrás un descuento especial</p>
                  <h3>¡Atrevete a formar parte del cambio!</h3>
                        <h3>Este proyecto fue desarrollado por los estudiantes de</h3>
                        <h3>Ingeniería en Sistemas Computacionales del ITM</h3>
                        <img src="assets/img/logo.png" alt="logo" />
            </div>

            <div class="flecha">
                  <h5>Fundadores</h5>
                  <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
            </div>
                  
            <div class="student" wmAnimate="fadeInRight" speed="lower" aos>
                        <div class="info">
                              <h3>Jared Josafhat Hernández Zúñiga</h3>
                              <h4>Lead Angular Engineer</h4>
                        </div>
                        <img src="assets/img/jared.jpg" alt="jared">
            </div>

            <div class="student" wmAnimate="fadeInLeft" speed="lower" aos>
                        <img src="assets/img/karen.jfif" alt="jared">
                        <div class="info">
                                    <h3>Karen Astrid Rodriguez Reyes</h3>
                                    <h4>DevOps</h4>
                        </div>
            </div>
 </div>