<div cdkScrollable>
      <div name="info" [@slide]="state"  class="slide">
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <h1>something</h1>
            <img src="assets/img/logo.png" alt="logo tecmina" />
         </div>     
</div>