<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <mat-icon *ngIf="!abierto" class="openSide" aria-hidden="false" aria-label="Example heart icon" (click)="abrirMenuHandler()">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="abierto" class="openSide" aria-hidden="false" aria-label="Example heart icon" (click)="abrirMenuHandler()">keyboard_arrow_left</mat-icon>
        <img src="assets/img/logo.png" alt="logo GreenBook">
        <ul class="links" *ngIf="items">
            <li  *ngFor="let item of items">
                <a [routerLink]="item['ruta']" routerLinkActive="active">{{item['nombre']}}</a>
            </li>
           
        </ul>
        <div *ngIf="user" class="session">
                <span>{{user.displayName}}</span>
                <button *ngIf="user" (click)="cerrarSesionHandler()" mat-raised-button color="warn">Cerrar sesión</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>