<div class="img-container">
        <img src="assets/img/logo.png" alt="greenbook logo">
</div>
<ul class="links" *ngIf="items">
        <div *ngFor="let item of items"  class="container">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{item['nombre'] | iconImage}}</mat-icon>
                <li class="link"><a [routerLink]="item['ruta']" routerLinkActive="active">{{item['nombre'] | shortName }}</a></li>
        </div>
</ul>
<div *ngIf="user" class="menu">
        <p>{{user.displayName}}</p>
        <button *ngIf="user" (click)="cerrarSesionHandler()" mat-raised-button color="warn">Cerrar sesión</button>
</div>